---
import { Image } from "astro:assets";
import NavSocialMedia from "./NavSocialMedia.astro";
import ButtonBookNowArrow from "./elements/ButtonBookNowArrow.astro";
import mirror from "./assets/images/hero/mirror-transparent.png";
import slide3 from "./assets/images/services/services_img3_brows-service.jpg";
import slide2 from "./assets/images/services/services_img1_eyelash-extensions.jpg";
import slide1 from "./assets/images/services/services_img4_hair-extensions.jpg";
const motivation1 =
  "Our talented team of beauty experts offers personalized services that cater to your unique style and needs";
const motivation2 = "We use high-quality, professional-grade products to ensure exceptional results";
---

<section class="hero">
<h1>sirene
</h1>


  <div class="hero-wrap">
    <div class="hero-background">
      <section class="hero-image">
        <Image class="hero-image__mirror" src={mirror} width={1270} height={965} alt="mirror" />
      <section class="hero-slider">
        <div class="slide slid-3">
          <Image class="slide__img" src={slide3} alt="slide-img" />
        </div>  
        <div class="slide  slid-2">
          <Image class="slide__img" src={slide2} alt="slide-img" />
        </div>      
        <div class="slide slid-1">
          <Image class="slide__img" src={slide1} alt="slide-img" />
        </div>


      </section>        
      </section>

    </div>
    <section class="hero-motivation">
      <div class="motivation-box motivation-box__left">
        <div class="motivation-text">
          <strong>
            {motivation1}
          </strong>
        </div>
        <NavSocialMedia color="gold" class="hero-nav" />
      </div>
      <div class="motivation-box motivation-box__right">
        <div class="motivation-text">
          <strong>
            {motivation2}
          </strong>
        </div>
        <ButtonBookNowArrow />
      </div>
    </section>
  </div>
</section>

<style>

  .hero {
    position: relative;
    margin-bottom: clamp(1.25rem, -13.1423rem + 30.0231vw, 9.375rem);
  }

  h1 {
    font-family: "Sirene-regular";
    font-weight: 400;
    font-size: clamp(120px, 26vw, 500px);
    line-height: 0.7;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #fcf5e0 0%, #836d31 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-block: 0;
    text-align: center;
    position: relative;
    top: 0;
  }

  .hero-wrap {
    position: relative;
    width: 100%;
  }

  .hero-background {
    position: relative;
    width: 100%;
    max-height: 700px;
    min-height: 160px;
    aspect-ratio: 1724/700;

    background-image: url("./assets/images/hero/hero-background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: clamp(1.875rem, -3.125rem + 13.8889vw, 9.375rem); /*1440 - 150 576 - 30 */
  }

  .hero-image {
    width: 100%;
    position: absolute;
    bottom: -3px;
    z-index: 0;
  }

  .hero-slider {
    z-index: -1;
    bottom: 46.5%;
    left: 46.5%;
    transform: translate(-50%, 50%);
    position: absolute;
    width: 43%;
    height: 77%;
    border-radius: 50%;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @keyframes slid {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .slide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slid-1 {
    animation-delay: 12s;
    animation: slid 12s ease-in-out infinite;
  }
  .slid-2 {
    animation: slid 36s ease-in-out infinite;
  } 

  .slid-3 {

  }

  .hero-image__mirror {
    width: 100%;
    height: auto;
  }

  .hero-motivation {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    padding-left: clamp(1.25rem, -1.2446rem + 5.2038vw, 5rem);
    padding-right: clamp(1.25rem, -2.0761rem + 6.9384vw, 6.25rem);
  }

  .motivation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: clamp(1.25rem, -2.9018rem + 6.6964vw, 3.125rem); /*1440- 50 992 - 20;*/
    font-family: var(--font-Roboto);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-gold);
    text-align: center;
    text-wrap: balance;
  }

  .motivation-box strong {
    font-weight: 500;
  }

  .motivation-box__left {
    width: min(16.6vw, 318px);
    min-width: 200px;
  }

  .motivation-box__right {
    width: min(24vw, 362px);
    min-width: 230px;
  }

  .motivation-box__left .motivation-text {
    --tb-mot: clamp(1.25rem, 5.4398vw - 0.7083rem, 4.1875rem);
    --rl-mot: clamp(1.25rem, 1.6667rem - 0.463vw, 1.5rem);
    padding: var(--tb-mot) var(--rl-mot);
  }

  .motivation-box__right .motivation-text {
    --tb-mot: clamp(1.3125rem, 0.1042rem + 3.3565vw, 3.125rem);
    --rl-mot: clamp(1.25rem, 1.6667rem - 0.463vw, 1.5rem);
    padding: var(--tb-mot) var(--rl-mot);
  }

  .motivation-text {
    width: 100%;
    border: 2px solid var(--color-gold);
    border-radius: clamp(1.875rem, -0.3392rem + 4.6189vw, 3.125rem);
    backdrop-filter: blur(18px);
    background: var(--color-snow);
    padding: 10px;
  }

  @media screen and (max-width: 766.98px) {
    .hero-wrap,
    .hero-motivation {
      position: static;
    }

    .hero-motivation {
      top: 0;
      left: 0;
      transform: translateY(0);
      padding: 1.875rem 0;
    }

    .motivation-box strong {
    font-weight: 700;
    font-size: 10px;
  }

    .motivation-box__left,
    .motivation-box__right {
      flex: 1;
      min-width: 40%;
    }
  }

  @media screen and (max-width: 575.98px) {
    .header {
      flex-wrap: nowrap;
    }
  }
</style>
