---
import { Icon } from 'astro-icon/components';

interface Color {
	color: string;
}
const {color} = Astro.props as Color;

const {class: className} = Astro.props;


const tel = 18476710065;
// https://wa.me/79234567890)
//href: `https://api.whatsapp.com/send/?phone=${tel}`
const socialIcon = [
    {name: "telegram", href: "https://t.me/juli_zag" },
    {name: "whatsapp", href: `https://wa.me/${tel}`},
    {name: "viber", href: `viber://chat?number=%2B${tel}`}, 
    {name: "instagram", href: "https://www.instagram.com/_sirenebeauty?igsh=ZzhxbDNzcjUwdm5n" }
]
---

<nav class="nav-media-social" aria-label="navigation media social">
    <ul class:list={[className, "media-social"]}>
        {
        socialIcon.map((item) => 
        <li class="social-item" data-color={color}>
            <a class="social-item__link"  href={item.href}>
                <Icon class="social-icon" name={item.name} width={58} height={58} />
            </a>
        </li>
        )}
    </ul>
</nav>

<style>
    .nav-media-social {
        max-width: inherit;
        width: 100%;
    }
    .media-social {
        display: flex;
        justify-content: space-between;
    }

    .hero-nav {
        justify-content: center;
        gap: 20px;
    }


    .social-item {
        --social: clamp(2.25rem, 0.9808rem + 3.5256vw, 3.625rem); /*576 - 36; 1200-58 */
        display: block;
        width: var(--social);
        aspect-ratio: 1 / 1;
        line-height:1;
        font-size: 0;
    }

    .social-item:nth-child(3)[data-color="gold"]{
        display: none;
    }

    .social-item__link {
        display: block;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        border: calc(var(--social) * 0.043) solid;
        transition: all 0.7s;
        overflow: hidden;
    }

    [data-color="white"] .social-item__link{
        border-color: var(--color-logoW);
        color: var(--color-logoW);
    }

    [data-color="black"] .social-item__link{
        border-color:var(--color-logoB);
        color: var(--color-logoB);
    }

    [data-color="gold"] .social-item__link{
        border-color: transparent;
        background-color: var(--color-gold);
        color: var(--color-logoW);
    }

    :is([data-color="white"], [data-color="black"]) .social-item__link:is(:hover, :focus)
    {
        border-color: var(--color-khaki-dark);
        color: var(--color-khaki-dark);        
    }

    [data-color="gold"] .social-item__link:is(:hover, :focus) {
        background-color: var(--color-khaki-dark);
    }

    .social-icon {
        width: 100%;
        height: 100%;
    }



    @media screen and (max-width: 575.98px) {}
</style>