---
interface Props {
	title: string;
	author: string;
	description: string;
}

const { title, author, description } = Astro.props;
---

<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author}>
		<meta name="copyright" content={author}>
		<title>{title}</title>
		<meta name="description" content={description} />		
		<link rel="stylesheet" href="/src/styles/normalize.css">
		<link rel="stylesheet" href="/src/styles/fonts.css">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body style="font-family: Roboto, Tahoma, Geneva, Kalimati, sans-serif">
		<slot />
	</body>
</html>

<style>
	 html {
   height: 100%;
   scroll-behavior: smooth;
 }
</style>

